div {
  width: 100%;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

body {
  background-color: rgb(14, 13, 13);
}

img {
  max-width: 700px;
  width: 100%;
  border: 3px solid grey;
  border-radius: 6px;
}
